p {
    color: white;
    width: 100%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;

}

.container {
    width: calc(100% - 11em);
    min-height: calc(100vh - 6.8em);
    max-height: calc(100vh - 6.8em);
    background: rgb(243, 243, 243);
    margin-left: 11em;
    padding: 50 0 0 0.5%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    img {
        width: 1.6rem;
        z-index: 1;
        //filter: hue-rotate(230deg);
        cursor: pointer;
    }

    .line {
        z-index: 0;
        width: 0.25em;
        background: rgb(4, 112, 235);
        height: 5em;
        margin: -0.2em 0em -0.2em 0em;
    }

    nav,
    .time {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 25%;
        margin-top: 2em;
    }

    .time {
        position: absolute;
        left: -3em;
        height: 77.5%;

        span {
            display: block;
            flex: 1;

            sup {
                display: block;
                float: right;
                font-size: 0.7em;
                margin: 0.1em 0 0 0.1em;
            }
        }
    }

    aside {
        position: absolute;
        left: 40%;
        top: 2em;
    }
}