<main>
<mat-toolbar>
    <span>
        <h4>Dashboard</h4>
       </span>
  <span>
   <h3>LOG OUT</h3>
  </span>
  <fa-icon [icon]="faSignOut"></fa-icon>
</mat-toolbar>
<nav>
    <h3>FAIRY</h3>
    <h3>ORGANIZER</h3>
    <ul>
        <li><fa-icon [icon]="faClock"></fa-icon>Dashboard</li>
        <li><fa-icon [icon]="faCalendarAlt"></fa-icon>Calendar</li>
        <li><fa-icon [icon]="faBullseye"></fa-icon>Goals</li>
        <li><fa-icon [icon]="faTags"></fa-icon>Labels</li>
        <li><fa-icon [icon]="faAddressBook"></fa-icon>Contacts</li>
    </ul>
</nav>
<div class="options">
<div class="e-input-group">
    <input class="e-input" name='input' type="text" (focus)="focusIn($event.target)"
     placeholder="Enter Date" (blur)="focusOut($event.target)"/>
     <span class="e-input-group-icon e-input-popup-date" (mouseup)="onMouseUp($event.target)" (mousedown)="onMouseDown($event.target)"></span>
</div>
</div>
<div class="callendary">
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>
 <section></section>


     

     

</div>
</main>

