<main>
<section>
    <h2>Log in to your organizer</h2>
<div class="e-input-group">
<input class="e-input" type="text" required [(ngModel)]="this.login" placeholder="Login" onchange="logValue()">
<span class="e-input-group-icon"><fa-icon [icon]="faHatWizard"></fa-icon></span>
</div>
<div class="e-input-group">
    <input class="e-input" placeholder="Email" type="text" required [(ngModel)]="this.email">
    <span class="e-input-group-icon"><fa-icon [icon]="faKey"></fa-icon></span>

    </div>
<div class="e-input-group">
    <input class="e-input" placeholder="Password" type="password" required [(ngModel)]="this.pass">
    <span class="e-input-group-icon"><fa-icon [icon]="faKey"></fa-icon></span>

    </div>
<div class="e-input-group">
    <input class="e-input" placeholder="Repeat Password" type="password" required [(ngModel)]="this.passRepeat">
    <span class="e-input-group-icon"><fa-icon [icon]="faKey"></fa-icon></span>
    
</div>
    <div class="buttons">
    <div class="e-btn-group">
   <button ejs-button cssClass="e-success" routerLink="../dashboard" (click)="checkLogin()">Register account</button>
   </div>
   </div>
</section>

</main>
