nav{
    position:fixed;
    top:0;
    left:0;
    font-family:'Amatic SC','Lato', Courier, monospace;
    display:flex;
    width:100%;
    h3{
        width:10%;
color:white;
font-size:1.6em;
letter-spacing:0.15em;
font-weight:1000;
margin:0.5em 0em 0em 1.2em;
    }
    ul{
        position:relative;
        min-width:88%;
        margin-right:2%;
        display:flex;
        justify-content:flex-end;
        list-style-type:none;
        align-items:center;
        height:1.8em;
        li{
          color:white;
          font-size:1.5em;
          font-weight:1000;
          letter-spacing:0.1em;
          img{
              height:1.1em;
              margin:0.25em 0 0 1em;
          }
        }
    }
}
main{
  padding-bottom:15vh;
  width:100%;
  min-height:85vh;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  background:radial-gradient(circle,rgb(1, 51, 116) 40%,rgba(2, 43, 97, 0.781));
  font-family:'Amatic SC','Lato', Courier, monospace;
h1,h2{
    font-size:4.4em;
    font-weight:800;
    color:rgb(255, 255, 255);
    margin:0;
    margin-top:-0.4em;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    
    -o-user-select:none;
    &:first-child{
        margin-right:0.4em;
    }
}
h2{
    font-size:1.4em;
    font-weight:800;
    letter-spacing:0.08em;
    margin-top:0.2em;
    // border-bottom:0.08em white solid;
    // padding:0.2em;
    // border-radius:0.2em;
}
button{
    font-family:'Amatic SC','Lato', Courier, monospace;
    border:none;
    font-size:1.4em;
    background:rgba(255,255,255,0);
    border:0.1em solid white;
    width:9em;
    padding:0.25em 0 0.34em 0;
    border-radius:5em;
    -ms-border-radius:5em;
    -moz-border-radius:5em;
    -webkit-border-radius:5em;
    -o-border-radius:5em;
    outline:none;
    color:white;
    font-weight:800;
    transition: all 0.2s;
    cursor:pointer;
    margin-top:3em;
    letter-spacing:0.05em;
    &:hover{
        background:rgba(255,255,255,1);
        color:rgb(31, 31, 31);
    }
    .menu{
        display:flex;
        align-items:flex-end;
    }
    &:nth-child(2){
        margin-left:4em;
    }
}

}