<div class="container">

  <button ejs-button cssClass="e-info" class="cd" id="cd" (click)="showCalendar()" >Change date &nbsp;&nbsp;<fa-icon [icon]="faCalendar"></fa-icon></button>
         <ejs-calendar [(ngModel)]="dateValue" (change)="changeDate()"></ejs-calendar>

        <button ejs-button cssClass="e-info" class="apply" id="apply" (click)="changeDate()" ><fa-icon [icon]="faCalendarCheck" ></fa-icon></button>

  <div class="hanging" id="loader"> </div>
  <div class="layout">
    <aside>
      <div>
        <div class="d month" (click)="changeLayoutMonth()">M</div>
        <div class="d weeks" (click)="changeLayoutTwoWeeks()">WW</div>
        <div class="d week" (click)="changeLayoutOneWeek()">W</div>
        <div class="d day" (click)="changeLayoutDay()">D</div>
      </div>
      <div>
        <div class="left" (click)="setMonthLast()">
          <fa-icon [icon]="leftArrow"></fa-icon>
        </div>
        <h2>{{month + " " + year}}</h2>
        <div class="right" (click)="setMonthNext()">
          <fa-icon [icon]="rightArrow"></fa-icon>
        </div>
      </div>
      <menu>
        <div class="d plus">
          <fa-icon [icon]="faPlus"></fa-icon>
        </div>
        <div class="d move">
          <fa-icon [icon]="faMove"></fa-icon>
        </div>
      </menu>
    </aside>
  </div>
  <div class="callendary" id="cal">
    <header>
      <span>Monday</span><span>Tuesday</span><span>Wednesday</span><span>Thursday</span><span>Friday</span><span>Saturday</span><span>Sunday</span>
    </header>
    <section *ngFor="let day of this.days; let i = index" [hidden]="i>33">
      <h3 [ngClass]="{'blacked': ( day!='' && i>(this.amountOfDays+this.dayOfTheWeek)-(this.daysInAMonth - this.day+1) && this.layout=='month' )}">{{day}}</h3>
      <div class="content" [ngClass]="{'blacked': ( day!='' && i>(this.amountOfDays+this.dayOfTheWeek)-(this.daysInAMonth - this.day+1) && this.layout=='month' ) }">
        <div class="mission" *ngIf="day!=''"></div>
      </div>
    </section>
  </div>
</div>
