
@mixin radiusTopRight($x){
    -ms-border-top-right-radius:$x;
    -moz-border-top-right-radius:$x;
    -o-border-top-right-radius:$x;
    -webkit-border-top-right-radius:$x;
    border-top-right-radius:$x;
}
@mixin radiusTopLeft($x){
    -ms-border-top-left-radius:$x;
    -moz-border-top-left-radius:$x;
    -o-border-top-left-radius:$x;
    -webkit-border-top-left-radius:$x;
    border-top-left-radius:$x;
}
@mixin radiusBottomLeft($x){
    -ms-border-bottom-left-radius:$x;
    -moz-border-bottom-left-radius:$x;
    -o-border-bottom-left-radius:$x;
    -webkit-border-bottom-left-radius:$x;
    border-bottom-left-radius:$x;
}
@mixin radiusBottomRight($x){
    -ms-border-bottom-right-radius:$x;
    -moz-border-bottom-right-radius:$x;
    -o-border-bottom-right-radius:$x;
    -webkit-border-bottom-right-radius:$x;
    border-bottom-right-radius:$x;
}


.container{
    width:calc( 99.5% - 11em );
    min-height:52em;
    background:rgb(243, 243, 243);
    margin-left:11em;
    padding:5vh 0 0 0.5%;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;

    .e-input-group{
        font-size:0.95em;
        width:12em;
        position:absolute;
        top:-6%;
        left:3em;
    }
    ejs-calendar{
        z-index:20;
        display:none;
        position:absolute;
        top:-5.25%;
        left:8em;
    }
    .apply,.cd{
        position:absolute;
        top:-5.25%;
        left:2.8em;
        height:2.4em;
        display:none;
    }
    .cd{
        display:block;
    }

    .hanging{
        width:50px;
        height:50px;
        background:#2980b9;
        margin:20% 0 0 2em;
        animation:hang 1.9s infinite;
        transform:rotateZ(0deg);
        float:left;
        box-shadow:0em 0em 0.3em -0.1em #2980b9;
        display:none;
      }

 aside{
     position:absolute;
     font-size:1em;
     width:80.5%;
     top:0em;
     left:1.2em;
     display:flex;
     align-items:center;

     menu{
         flex:1;
       display:flex;
         justify-content:flex-end;
         margin-left:23%;
    
     }
 }

 aside>div{
    flex:0.5;
    display:flex;
    justify-content:flex-start;
}

 .d{
    font-size:0.95em;
    padding:0.6em 0em 0.6em 0em;
    width:2.5em;
    text-align:center;
    margin-left:0.4em;
    @include radiusTopRight(0.3em);
    @include radiusTopLeft(0.3em);
    @include radiusBottomRight(0.3em);
    @include radiusBottomLeft(0.3em);
    color:black;
    &:first-child{
        margin-left:1.5em;
    }
}

 .d, .left,.right{
    background:#1d1d1d;
    color:rgb(255, 255, 255);
    float:left;
    box-shadow:0em 0.1em 0.2em -0.1em black;
    transition:all 0.2s;
    cursor:pointer;
    &:hover{
        transform:scale(0.9);
    }
 }

  h2{
      
        font-weight:normal;
        font-size:1em;
        min-width:7.4em;
        text-align:center;
        float:left;
        background:#1d1d1d;
        padding:0.6em 0.9em 0.6em 0.9em;
        box-shadow:0em 0.1em 0.2em -0.1em black;
        color:white;
    }
    .left,.right{
        margin-top:0.66em;
        font-size:1.3em;
        padding:0.33em 0.8em 0.5em 0.75em;
        max-width:0.4em;
        max-height:1em;
        text-align:center;
        &:nth-child(4){
            border-right:0.05em rgba(112, 112, 112, 0.377) solid;
            @include radiusTopRight(0.2em);
            @include radiusBottomRight(0.2em);
        }
        &:nth-child(2){
           border-left:0.05em rgba(112, 112, 112, 0.377) solid;
           @include radiusTopLeft(0.2em);
           @include radiusBottomLeft(0.2em);
        }
    }

    menu{
        flex:1;
        position:absolute;
        top:0em;
        left:calc( 100% - 11.6em );

        .plus,.move{
            background:rgb(33, 93, 224);
            color:white;
        }
    }

}

header{
    position:absolute;
    top:-2.5em;
    width:100.5%;
    margin-left:-0.25%;
    display:flex;
    background:#1d1d1d;
    color:white;
    font-size:0.9em;
    padding:0.6em 0em 0.6em 0em;
    @include radiusTopLeft(0.4em);
    @include radiusTopRight(0.4em);
    span{
        display:block;
        min-width:calc(100% / 7);
        text-align:center;
    }
}
.callendary{
    position:absolute;
    margin-top:4.2rem;
  width:94%;
  min-height: 45em;
    display:flex;
    flex-wrap:wrap;
    section{
        min-height:calc( 95% / 5 );
        max-height:calc( 95% / 5 );
        margin:0.15em;
        //border:0.1em #1d1d1d solid;
       h3{
           font-size:0.9em;
           font-weight:normal;
           padding-left:1.5em;
           height:20%;
           padding:0.3em 0 0.1em 0.5em;
           margin:0;
       }
       .content{
        height:calc( 80% - 0.4em );

        .mission{
            width:96%;
            height:1.8em;
            background:rgb(16, 90, 228);
            @include radiusTopLeft(0.3em);
            @include radiusBottomLeft(0.3em);
            @include radiusTopRight(0.3em);
            @include radiusBottomRight(0.3em);
            color:white;
            font-size:0.8em;
            padding:0.1em 2% 0.1em 2%;
            display:flex;
            align-items:center;
            justify-content:flex-start;
        }
       }
       .blacked{
           background:rgba(66, 7, 160, 0.103);
       }
    }
}


@keyframes hang{

    0%{
      transform:rotateZ(-170deg);
       transform-origin:top left;
          transform:rotateY(0deg);
    }
     20%{
  
        transform-origin:top left;
        transform:rotateY(80deg);
           transform:rotateZ(200deg);
    }
      40%{
      transform:rotateZ(80deg);
         transform-origin:top left;
        transform:rotateY(180deg);
        }
    60%{
       transform:rotateZ(15deg);
         transform-origin:top left;
       transform:rotateY(10deg);
            transform:rotateZ(120deg);
    }
      80%{
  
         transform-origin:top left;
          transform:rotateY(120deg);
        transform:rotateZ(210deg);
    }
     100%{
           transform-origin:top left;
          transform:rotateX(180deg);
        transform:rotateZ(-100deg);
    }
    
     
    
  }